body{
	padding-top: 70px;
	overflow-x: hidden;
}
.questions{
		text-align: center;
		padding: 0;
	.question{
		list-style-type: none;
		text-align:center;
	}
}
.answer{
	border: 3px solid #333;
	border-radius: 5px;
	padding: 10px;
	background: #fff;
	margin: 2% auto;
	width: 70%;
}
.answer{
		display: block;
}