// Color Vars
$grey: #f3f3f3;
$blue: #002776;
$light-blue: #72C7E7;
$green: #92D400;
$light-green: #C9DD03;


body{
	padding-top: 70px;
	overflow-x: hidden;
}
.navbar-light{
	color: #fff;
}
.questions{
		text-align: center;
		padding: 0;
	.question{
		list-style-type: none;
		text-align:center;
	}
}
.next,
.answer{
	border: 3px solid #333;
	border-radius: 5px;
	padding: 10px;
	background: #fff;
}
.answer{
	margin: 2% auto;
	width: 70%;
}
.answer{
		display: block;
}
