// Color Vars
$grey: #f3f3f3;
$blue: #002776;
$light-blue: #72C7E7;
$green: #92D400;
$light-green: #C9DD03;


body{
	padding-top: 70px;
	overflow-x: hidden;
}
.navbar-light{
	color: #fff;
}
.questions{
		text-align: center;
		padding: 0;
	.question{
		list-style-type: none;
		text-align:center;
	}
}
.next,
.answer{
	border: 3px solid #333;
	border-radius: 5px;
	padding: 10px;
	background: #fff;
}
.answer{
	margin: 2% auto;
	width: 70%;
}
.answer{
		display: block;
}
.correct{
	background-color: $light-green;
	color: white;
}
.false{
	background-color: red;
	color: white;
}

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes shake { 
    0%, 100% {-webkit-transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);} 
} 
@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
} 
.shake { 
    -webkit-animation-name: shake; 
    animation-name: shake; 
}
